@charset "utf-8";
/* CSS Document */
* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Sansita", sans-serif;
	font-size: 18px;
	font-weight: 400;
}

* h3 {
	font-family: "Bebas Neue", sans-serif;
	font-size: 30px;
    text-align: center;
}

html, body {
	background-color: #FFF6EE;
	height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
	background-color: #48CAE4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0 5px 50px;
	z-index: 1500;
}

.menu {
	align-self:flex-end; /*Alinea un elemento flex a lo largo del eje tranversal, anulando el valor de align-items*/
}

nav {
	display: flex;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: black;
	padding: 10px;
	transition: all 0.3s;
	display: inline-flex;
    align-items: center;
}

nav a:hover {
	background-color: #0096C7;
	border-radius: 5px;
}

.banner img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
}

.active {
	background-color: #0096C7;
	border-radius: 5px;
}

.navegar {
	margin-right: 100px;
}

.ico {
	padding-right: 20px;
}

.contador {
    display: none;
    position: absolute;
    top: -6px;
    left: 22px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    text-align: center;
}

.icon {
	position: relative;
    border-radius: 50%;
	padding: 10px;
	margin-right: 10px;
	display: inline-flex;
	align-items: center;
	border: 2px solid #03045E;
	cursor: pointer;
}

.icon:hover {
	background-color: #0096C7;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.foto {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	align-items: center;
	margin-top: 10px;
}

.foto img {
	width: 300px;
	max-height: 200px;
	padding: 10px;
	object-fit: contain;
	background-image: url("../img/madera.jpg");
	background-size: cover;
	border-radius: 10px;
}

.item {
	border-radius: 5px;
	text-align: center;
	padding: 10px;
}

.detalles {
	display: inline-block; 
    margin-top: 10px; 
    padding: 10px 20px; 
	background-color: #023E8A;
    color: white; 
	border: 2px solid #023E8A;
    text-decoration: none; 
    border-radius: 5px;
    cursor: pointer;
}

.detalles:hover {
	background-color: #0096C7;
	color: black;
}

.agregar-carrito {
    display: inline-block; 
    margin-top: 10px; 
    padding: 10px 20px; 
	background-color: #023E8A;
    color: white; 
	border: 2px solid #023E8A;
    text-decoration: none; 
    border-radius: 5px;
    cursor: pointer;
}

.agregar-carrito:hover {
	background-color: #0096C7;
	color: black;
}

#checkout {
    display: block; 
    margin: 10px auto 0 auto; 
    padding: 10px 20px; 
	background-color: #023E8A;
    color: white; 
	border: 2px solid #023E8A;
    text-decoration: none; 
    border-radius: 5px;
    cursor: pointer;
}

#checkout img {
    width: 24px;
    height: 34px;
    vertical-align: middle;
    margin-right: 10px;
}

#checkout:hover {
    background-color: #0096C7;
	color: black;
}

.ventana {
  	display: none;
	position: fixed;
	z-index: 999;
	left: 0; 
	top: 0;
  	width: 100%; 
	height: 100%;
	background-color: #FFF6EE;
	padding-top: 200px; /* ajusta según la altura de tu header */
  	box-sizing: border-box;
    border: 3px solid black;
}

.ventana-content {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d86f13;
	border-radius: 8px;
	border: 2px solid black;
	padding: 10px;
	border-radius: 8px;
	width: 80%;
    height: 700px;
	text-align: center;
	position: relative;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.ventana-content img {
    background-color: brown;
    height: 100%;
    max-height: 600px;
    object-fit:cover;
}

.carro {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0; 
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.carro-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
}

.carro-content li {
    border-bottom: 1px solid black;
    list-style: none;
    padding: 8px 0;
}

.carro-content p {
    margin-top: 5px;
}

.close {
	align-self: flex-end;
    float: right;
	color: red;
	font-size: 24px;
	cursor: pointer;
	margin-right: 10px;
}

.no-scroll {
    overflow: hidden;
}

.btn-mas, .btn-menos {
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 10px;
}

footer {
	background-color: #48CAE4;
	padding: 10px;
	text-align: center;
	width: 100%;
}

footer a {
	text-decoration: none;
	color: black;
}

/*Móvil*/
@media (max-width: 450px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navegar, .ico {
        display: none;
        flex-direction: column;
        width: 100%;
		margin-top: 10px;
    }

    .hamburger {
        display: block;
        margin-left: auto;
        margin-right: 20px;
    }

    .navegar.active, .ico.active {
        display: block;
    }

    .navegar a {
        padding: 15px;
        width: 100%;
        border-top: 1px solid #ccc;
        background-color: #90E0EF;
    }

	.foto {
		grid-template-columns: 1fr;
	}

	.ventana-content {
		width: 90%;
		height: 500px;
  	}

  	.ventana-content img {
		max-height: 250px;
  	}

  	.carro-content {
		margin: 20% auto;
		width: 95%;
		padding: 15px;
  	}
}


/*Tablet*/
@media (min-width: 451px) and (max-width: 1024px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navegar, .ico {
        display: none;
        flex-direction: column;
        width: 100%;
		margin-top: 10px;
    }

    .hamburger {
        display: block;
        margin-left: auto;
        margin-right: 20px;
    }

    .navegar.active, .ico.active {
        display: block;
    }

    .navegar a {
        padding: 15px;
        width: 100%;
        border-top: 1px solid #ccc;
        background-color: #90E0EF;
    }

	.container {
		flex: 1;
		height: auto;
        padding: 20px;
    }

	.foto {
		grid-template-columns: 1fr 1fr;
	}

	.ventana-content {
		width: 85%;
		height: 600px;
		padding: 10px;
	}

  	.ventana-content img {
		max-height: 400px;
	}

  	.carro-content {
		margin: 15% auto;
		width: 90%;
		padding: 18px;
	}
}