@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    padding: 0;
}

h1 {
	text-align: center;
}
nav ul {
    background-color: crimson;
    padding: 10px;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
}

aside {
	position: absolute;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}

.menu li {
    display: block;
    list-style: none;
    padding: 0;
	margin: 10px 0;
}

form {
	width: 70%;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: darkgoldenrod;
    color: black;
}

button[type="reset"] {
    background-color: blue;
    color: white;
}

button:hover {
    opacity: 0.8;
}

input:hover, select:hover, textarea:hover {
    border-color: #0077b6;
}

.foto {
	width: 300px;
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-bottom: 10px;
}