@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Sansita", sans-serif;
	font-size: 18px;
	font-weight: 400;
}

html, body {
	background-color: #FFF6EE;
	height: 100%;
    display: flex;
    flex-direction: column;
}

header {
	background-color: #48CAE4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0 5px 50px;
}

.menu {
	align-self:flex-end; /*Alinea un elemento flex a lo largo del eje tranversal, anulando el valor de align-items*/
}

nav {
	display: flex;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: black;
	padding: 10px;
	transition: all 0.3s;
	display: inline-flex;
    align-items: center;
}

nav a:hover {
	background-color: #0096C7;
	border-radius: 5px;
}

.banner img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
}

.navegar {
	margin-right: 100px;
}

.ico {
	padding-right: 20px;
}

button {
	border-radius: 50%;
	padding: 10px;
	margin-right: 10px;
	display: inline-flex;
	align-items: center;
	border: 2px solid #03045E;
	cursor: pointer;
}

button:hover {
	background-color: #0096C7;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 210px); /* ajusta 200px según el tamaño real de tu header + footer */
}

form {
    display: block;
	width: 400px;
	padding: 10px; 
    border-radius: 8px; 
	background-color: #90E0EF;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send {
	background-color: #023E8A;
	text-align: center;
	border-radius: 5px;
	border: 2px solid #023E8A;
	color: white;
	cursor: pointer;
    margin: 10px auto 10px auto;
	display: block;
}

.send:hover {
	background-color: #0096C7;
	color: black;
}

footer {
	background-color: #48CAE4;
	padding: 10px;
	text-align: center;
	width: 100%;
}

footer a {
	text-decoration: none;
	color: black;
}

/*Móvil*/
@media (max-width: 450px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navegar, .ico {
        display: none;
        flex-direction: column;
        width: 100%;
		margin-top: 10px;
    }

    .hamburger {
        display: block;
        margin-left: auto;
        margin-right: 20px;
    }

    .navegar.active, .ico.active {
        display: block;
    }

    .navegar a {
        padding: 15px;
        width: 100%;
        border-top: 1px solid #ccc;
        background-color: #90E0EF;
    }

	main {
		height: auto;
		padding: 20px;
	}
}


/*Tablet*/
@media (min-width: 451px) and (max-width: 1024px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navegar, .ico {
        display: none;
        flex-direction: column;
        width: 100%;
		margin-top: 10px;
    }

    .hamburger {
        display: block;
        margin-left: auto;
        margin-right: 20px;
    }

    .navegar.active, .ico.active {
        display: block;
    }

    .navegar a {
        padding: 15px;
        width: 100%;
        border-top: 1px solid #ccc;
        background-color: #90E0EF;
    }

	main {
		height: auto;
		padding: 20px;
	}
}